body {
  font-family: "Arvo", Georgia, Times, serif;
  width: 400px; }

.clock-wrap {
  position: relative;
  display: block;
  margin: 10px auto; }

.side-arrow {
  float: right;
  display: table-cell;
  margin-top: 90px;
  margin-right: 10px; }

.side {
  display: table-cell;
  float: right;
  margin-top: 50px;
  width: 170px; }

.owned {
  font-size: 40px;
  margin-top: 20px;
  text-align: center; }

.clock-number {
  font-size: 24px;
  position: absolute; }

.clock-number-1 {
  top: 20px;
  left: 173px; }

.clock-number-2 {
  top: 50px;
  left: 202px; }

.clock-number-3 {
  top: 86px;
  left: 212px; }

.clock-number-4 {
  top: 125px;
  left: 202px; }

.clock-number-5 {
  top: 150px;
  left: 173px; }

.clock-number-6 {
  top: 161px;
  left: 133px; }

.clock-number-7 {
  top: 150px;
  left: 97px; }

.clock-number-8 {
  top: 125px;
  left: 67px; }

.clock-number-9 {
  top: 86px;
  left: 57px; }

.clock-number-10 {
  top: 50px;
  left: 67px; }

.clock-number-11 {
  top: 20px;
  left: 97px; }

.clock-number-12 {
  top: 10px;
  left: 127px; }
