body
    font-family: 'Arvo', Georgia, Times, serif
    width: 400px
a
    color: #a15f38
    text-decoration: underline
    &:hover, &:focus
        text-decoration: none
.clock-wrap
    position: relative
    display: block
    margin: 10px auto
.side-arrow
    float: right
    display: table-cell
    margin-top: 90px
    margin-right: 10px
.side
    display: table-cell
    float: right
    margin-top: 50px
    width: 170px
.owned
    font-size: 40px
    margin-top: 20px
    text-align: center
